.bodyContainer {
  display: flex;
  flex-direction: row;
  background-color: whitesmoke;
  width: 100%;
  height: fit-content;
}

@media (max-width: 768px) {
  .bodyContainer {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    width: 100%;
    height: fit-content;
    padding: 0px;
  }
}

.bodyPicture {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 800px;
  padding: 5px;
}

@media (max-width: 768px) {
  .bodyPicture {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    padding: 0px;
  }
}

.bodyText {
  display: flex;
  flex-direction: row;
  font-family: monospace;
  font-size: 35px;
  padding: 15px;
}

@media (max-width: 768px) {
  .bodyText {
    display: flex;
    flex-direction: row;
    font-family: monospace;
    text-align: center;
    font-size: 8px;
    padding: 0px;
    margin: 0px;
    margin-left: 10px;
    margin-right: 20px;
    margin-top: 0px;
  }
}
