.testClass {
  font-family: monospace;
}

.headerBox {
  display: flex;
  background: white;
  height: 200px;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  color: black;
  font-size: 50px;
}

.headerImage {
  position: absolute;
  top: 3px;
  left: 180px;
  transform: translateX(-50%);
  width: 190px;
  border-radius: 999px;
}
