.aboutContainer {
  display: flex;
  flex-direction: row;
  background-color: whitesmoke;
  width: 100%;
  height: fit-content;
}

@media (max-width: 768px) {
  .aboutContainer {
    display: flex;
    flex-direction: row;
    background-color: whitesmoke;
    width: 100%;
    height: fit-content;
  }
}

.aboutPicture {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 800px;
  padding: 5px;
}

@media (max-width: 768px) {
  .aboutPicture {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 150px;
    padding: 5px;
  }
}

.aboutText {
  display: flex;
  flex-direction: row;
  font-family: monospace;
  font-size: 35px;
  padding: 15px;
}

@media (max-width: 768px) {
  .aboutText {
    display: flex;
    flex-direction: row;
    font-family: monospace;
    font-size: 8px;
    padding: 15px;
  }
}
